<app-header></app-header>
<br>
<h3 class="{{title}}">Hello, {{name}}</h3>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<app-users-list></app-users-list>  <!-- user-list component with the inline style -->
<app-students-list></app-students-list> <!-- user-list component with the inline template -->
<app-country-list></app-country-list>  <!-- user-list component with the inline style and inline template -->
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<app-login></app-login>
<hr>
<br>
<button (click)="getName('Prince','Changani')">Click</button>
<br><br>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<input type="text" #boxInpt placeholder="Key up event" (keyup)="getValue(boxInpt.value)"/>
<br><br>
<input type="text" #boxInpt1 placeholder="Key down event" (keydown)="getValue(boxInpt1.value)"/>
<br><br>
<input type="text" #boxInpt2 placeholder="Blur event" (blur)="getValue(boxInpt2.value)"/>
<br>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h2 (mouseover)="getValue('Mouse Over h2')">Code Step By Step</h2>
<h2 (mouseleave)="getValue('Mouse leave h2')">Code Step By Step</h2>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h3>Get value through input</h3>
<!-- <input type="text" name="user name" placeholder="Enter user name" id="user name" #box (keyup)="getUser(box.value)"> -->

<h3>Get Value Through Button Click</h3>
<input type="text" name="user name" placeholder="Enter user name" id="user name" #box >
<button (click)="getUser(box.value)">Click</button>

<br><br>
<h3>The user name is: {{user_name}}</h3>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>{{title}}</h1>
<button (click)="counter('add')">++</button>
<br>
<p>Count Value : {{count}}</p>
<button (click)="counter('minus')">--</button>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<!-- Property Binding Works for boolean data type also -->
<hr>
<h1>Property Binding</h1>  
<!-- <input type="text" name="user-name" placeholder="Interpolatioin" disabled={{disable}}> -->
<!-- <br><br> -->
<!-- <input type="text" name="user-number" placeholder="Property Binding" [disabled]=disable> -->
<h3>disable by clicking the button</h3>
<input type="text" name="user-name" #toggel placeholder="Interpolatioin" disabled={{disable}}>
<br><br>
<input type="text" name="user-number" #toggel placeholder="Property Binding" [disabled]=disable>
&nbsp;
<button (click)="inputDisable()">Disable</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>If else condition in Angular</h1>

<h3 *ngIf="show===true; then ifBlock else elseBlock"></h3>

<ng-template #ifBlock>
    <h3>If Condition</h3>   
</ng-template>

<ng-template #elseBlock>
    <h3>Else Condition!</h3>
</ng-template>

<button (click)="hideShow()">Toggel</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>else if Condition </h1>

<ng-template [ngIf]="color==='green'">
    <h3 style="color: green;">Green Color</h3>
</ng-template>

<ng-template [ngIf]="color==='orange'">
    <h3 style="color: orange;">Orange Color</h3>
</ng-template>

<ng-template [ngIf]="color==='red'">
    <h3 style="color: red;">Red Color</h3>
</ng-template>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>Angular for loop</h1>

<h3 *ngFor="let item of user_names">{{item}}</h3>
<h3 *ngFor="let item of user_details">{{item.name}} -- {{item.email}}</h3>
<hr>

<h1>Nested For Loop</h1>

<ul *ngFor="let user of user_details">
    <li>Name : {{user.name}}</li>
    <li>email : {{user.email}}</li>
    <li>Social Media Accounts</li>
    <ul *ngFor="let accounts of user.socialAccounts">
        <li>{{accounts}}</li>
    </ul>
</ul>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1 [style.color]="'green'">Style Binding</h1>

<h1 [style.color]="colorh" [style.background-color]="bgcolor">Changing color of heading with button</h1>
<button (click)="changeColor()">Change</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>Toggle Element</h1>
<div *ngIf="display">
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quisquam magni voluptates quibusdam est, ratione ipsum fuga praesentium facilis veritatis provident delectus similique rerum iusto, aperiam, id ea ipsa quo officiis velit laborum dicta laudantium.
    </p>
</div>
<button (click)="toggle()">Toggle</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>
    Angular Bootstrap
</h1>

<h3>
    Alert in bootstrap
</h3>
<ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>

<h3>Accordine in bootstrap</h3>
<div ngbAccordion #accordion="ngbAccordion">
    <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
        <div ngbAccordionHeader class="accordion-button custom-header justify-content-between">
            <p class="m-0">First panel - {{ first.collapsed ? 'collapsed' : 'opened' }}</p>
			<button ngbAccordionToggle class="btn btn-link p-0">Toggle first</button>
		</div>
		<div ngbAccordionCollapse>
            <div ngbAccordionBody>
				<ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem="second">
        <div ngbAccordionHeader class="accordion-button custom-header justify-content-between">
            <p class="m-0">Second panel</p>
			<div>
                <button ngbAccordionToggle class="btn btn-sm btn-outline-primary ms-2">Toggle second</button>
				<button type="button" class="btn btn-sm btn-outline-secondary ms-2" (click)="third.disabled = !third.disabled">
                    {{ third.disabled ? 'En' : 'Dis' }}able third
				</button>
				<button type="button" class="btn btn-sm btn-outline-danger ms-2" (click)="accordion.collapseAll()">
                    Collapse all
				</button>
			</div>
		</div>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem="third" #third="ngbAccordionItem" [class.disabled]="third.disabled">
        <div ngbAccordionHeader class="accordion-button custom-header">
            <button ngbAccordionToggle [disabled]="third.disabled" class="p-0 btn btn-link container-fluid text-start ps-0">
                Third panel
			</button>
			@if (third.disabled) {
                <p class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
			}
		</div>
		<div ngbAccordionCollapse>
            <div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
</div>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>Material UI</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br><br>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>