<h1 class="{{title}}">Hello, {{name}}</h1>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<app-users-list></app-users-list>  <!-- user-list component with the inline style -->
<app-students-list></app-students-list> <!-- user-list component with the inline template -->
<app-country-list></app-country-list>  <!-- user-list component with the inline style and inline template -->
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<app-login></app-login>

<button (click)="getName('Prince','Changani')">Click</button>
<br><br>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<input type="text" #boxInpt placeholder="Key up event" (keyup)="getValue(boxInpt.value)"/>
<br><br>
<input type="text" #boxInpt1 placeholder="Key down event" (keydown)="getValue(boxInpt1.value)"/>
<br><br>
<input type="text" #boxInpt2 placeholder="Blur event" (blur)="getValue(boxInpt2.value)"/>
<br>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h2 (mouseover)="getValue('Mouse Over h2')">Code Step By Step</h2>
<h2 (mouseleave)="getValue('Mouse leave h2')">Code Step By Step</h2>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h3>Get value through input</h3>
<!-- <input type="text" name="user name" placeholder="Enter user name" id="user name" #box (keyup)="getUser(box.value)"> -->

<h3>Get Value Through Button Click</h3>
<input type="text" name="user name" placeholder="Enter user name" id="user name" #box >
<button (click)="getUser(box.value)">Click</button>

<br><br>
<h3>The user name is: {{user_name}}</h3>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>{{title}}</h1>
<button (click)="counter('add')">++</button>
<br>
<p>Count Value : {{count}}</p>
<button (click)="counter('minus')">--</button>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<!-- Property Binding Works for boolean data type also -->
<hr>
<h1>Property Binding</h1>  
<!-- <input type="text" name="user-name" placeholder="Interpolatioin" disabled={{disable}}> -->
<!-- <br><br> -->
<!-- <input type="text" name="user-number" placeholder="Property Binding" [disabled]=disable> -->
<h3>disable by clicking the button</h3>
<input type="text" name="user-name" #toggel placeholder="Interpolatioin" disabled={{disable}}>
<br><br>
<input type="text" name="user-number" #toggel placeholder="Property Binding" [disabled]=disable>
&nbsp;
<button (click)="inputDisable()">Disable</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>If else condition in Angular</h1>

<h3 *ngIf="show===true; then ifBlock else elseBlock"></h3>

<ng-template #ifBlock>
    <h3>If Condition</h3>   
</ng-template>

<ng-template #elseBlock>
    <h3>Else Condition!</h3>
</ng-template>

<button (click)="hideShow()">Toggel</button>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>else if Condition </h1>

<ng-template [ngIf]="color==='green'">
    <h3 style="color: green;">Green Color</h3>
</ng-template>

<ng-template [ngIf]="color==='orange'">
    <h3 style="color: orange;">Orange Color</h3>
</ng-template>

<ng-template [ngIf]="color==='red'">
    <h3 style="color: red;">Red Color</h3>
</ng-template>
<hr>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<h1>Angular for loop</h1>

<h3 *ngFor="let item of user_names">{{item}}</h3>
<h3 *ngFor="let item of user_details">{{item.name}} -- {{item.email}}</h3>
<hr>

<h1>Nested For Loop</h1>

<ul *ngFor="let user of user_details">
    <li>Name : {{user.name}}</li>
    <li>Name : {{user.email}}</li>
    <ul *ngFor="let accounts of user.socialAccounts">
        <li>{{accounts}}</li>
    </ul>
</ul>